<!-- menu -->
<div id="navbar-example" class="navbar navbar-default navbar-static "
	role="navigation">   
	<div class="navbar-header">
		<b class="navbar-brand"> TicketSystem </b> <!-- titre-->
	</div>
    <input  id="cidForAll" type="hidden" /> <!--Enregistrer l'identifiant de l'utilisateur -->
	<ul class="nav navbar-nav">
		<li><a ui-sref="index">Accueil</a></li> <!-- entrer accueil-->
		<li><a ui-sref="index.Sell" >Sell</a></li> <!-- entrer vendre page-->
		<li><a ui-sref="index.search">Search</a></li> <!-- entrer rechercher page-->
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li ng-show="user.isShowLogin">
			<ul class="nav navbar-nav">
				<li><a href="javascript:void(0)"
					ng-click="login_signup('login')">log in</a></li> <!-- Afficher l'interface de connexion-->
				<li><a href="javascript:void(0)"
					ng-click="login_signup('signup')">sign up</a></li> <!-- Afficher l'interface d'enregistrement-->
			</ul>
		</li>
		<li ng-show="user.isShowUser"><a href="javascript:void(0)"
			class="glyphicon glyphicon-user" ng-Mouseenter="menu_show();"
			ng-Mouseleave="menu_hide();" style="color: blue;"><b>   <!-- icon de entrer mon commande et centre info-->
			</b> <span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu" id="user_menu"
				ng-Mouseenter="menu_show();" ng-Mouseleave="menu_hide();">
				<li role="presentation" ><a
						href="javascript:void(0)" ui-sref="index.myInfo">My info</a></i></li> <!-- entrer mon info-->
				<li role="presentation"><a href="javascript:void(0)"
					ui-sref="index.order"> My order </a></li>                    <!-- entrer mon commande-->
									<li role="presentation"><a href="javascript:void(0)"
					ui-sref="index.sellOrder"> My selling order </a></li>                    <!-- entrer mon commande vendu-->
				<li role="presentation" class="divider"></li>
				<li role="presentation"><a href="javascript:void(0)"
					ng-click="out();">Quit</a></li>
			</ul></li>&emsp;
	</ul>
</div>
<!-- connexion  et registrement-->
<div class="modal fade" id="login" aria-labelledby="myModalLabel"
	aria-hidden="true" style="overflow-x: hidden; overflow-y: auto;">
	<div class="modal-dialog ">
		<div class="panel panel-default">
			<div class="panel-heading">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>  																									<!-- button fermer -->
				<h3 ng-show="login">Log in</h3>
				<h3 ng-hide="login">Sign up</h3>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<form class="form-horizontal" role="form" name="myForm" novalidate>
					<div  ng-show="login">                                       														<!-- connexion dialog-->
						<div class="form-group">
							<input ng-model="user.act" type="hidden" /> <label
								class="col-sm-3 control-label">email</label>																			<!-- email-->
							<div class="col-sm-9">
								<div class="col-md-7">
									<input type="text" class="form-control" id="email"
										 name="email" ng-model="user.email"
										placeholder="Please input email" required>
								</div>
								<div class="col-md-5" style="color: {{color}}">
									<b>{{sucInfo}}</b> <span style="color: red"
										ng-show="myForm.email.$dirty && myForm.email.$invalid">
										<span ng-show="myForm.email.$error.required">email can't be empty</span>  <!-- Le courrier ne peut pas être vide-->
									</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">password</label>
							<div class="col-sm-9">
								<div class="col-md-7">
									<input type="password" class="form-control" id="password"		
										name="password" ng-model="user.password" placeholder="please input the password"
										required>
								</div>																																										<!-- password-->
								<div class="col-md-5">
									<span style="color: red"
										ng-show="myForm.password.$dirty && myForm.password.$invalid">
										<span ng-show="myForm.password.$error.required">password can't be empty</span> <!-- Le password ne peut pas être vide-->
									</span> <span ng-hide="myForm.password.$invalid" style="color: blue"><b>✔</b></span>
								</div>
							</div>
						</div>
					</div><!-- connexion dialog fini-->
										<div ng-hide="login">  <!-- registrement dialog-->
						<div class="form-group">
							<label
								class="col-sm-3 control-label">email</label> 																									<!-- email-->
							<div class="col-sm-9">
								<div class="col-md-7">
									<input type="text" class="form-control" id="email"
										 name="email" ng-model="user.email"
										placeholder="Please input user name" required>
								</div> 																																						
								<div class="col-md-5">
									<b>{{sucInfo}}</b> <span style="color: red"
										ng-show="myForm.email.$dirty && myForm.email.$invalid">
										<span ng-show="myForm.email.$error.required">email can't be empty</span>							<!-- Le courrier ne peut pas être vide-->
									</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">password</label>																						<!-- password-->
							<div class="col-sm-9">
								<div class="col-md-7">
									<input type="password" class="form-control" id="password"
										name="password" ng-model="user.password" placeholder="please input the password"
										required>
								</div>
								<div class="col-md-5">
									<span style="color: red"
										ng-show="myForm.password.$dirty && myForm.password.$invalid">
										<span ng-show="myForm.password.$error.required">password can't be empty</span>		<!-- Le password ne peut pas être vide-->
									</span> <span ng-hide="myForm.password.$invalid" style="color: blue"><b>✔</b></span>
								</div>
							</div>
						</div>
												<div class="form-group">
							<label class="col-sm-3 control-label">firstName</label>																							<!-- nom-->
							<div class="col-sm-9">
								<div class="col-md-7">
									<input type="text" class="form-control" id="firstName"
										name="firstName" ng-model="user.firstName" placeholder="please input the firstName"
										required>
								</div>
								<div class="col-md-5">
									<span style="color: red"
										ng-show="myForm.firstName.$dirty && myForm.firstName.$invalid">
										<span ng-show="myForm.firstName.$error.required">firstName can't be empty</span>
									</span> <span ng-hide="myForm.firstName.$invalid" style="color: blue"><b>✔</b></span> <!-- Le nom ne peut pas être vide-->
								</div>
							</div>
						</div>
																		<div class="form-group">
							<label class="col-sm-3 control-label">lastName</label>																						<!-- prénom-->
							<div class="col-sm-9">
								<div class="col-md-7">
									<input type="text" class="form-control" id="lastName"
										name="lastName" ng-model="user.lastName" placeholder="please input the lastName"					
										required>
								</div>
								<div class="col-md-5">
									<span style="color: red"
										ng-show="myForm.lastName.$dirty && myForm.lastName.$invalid">
										<span ng-show="myForm.lastName.$error.required">lastName can't be empty</span>
									</span> <span ng-hide="myForm.lastName.$invalid" style="color: blue"><b>✔</b></span>	<!-- Le prenom ne peut pas être vide-->
								</div>
							</div>
						</div>
																		<div class="form-group">
							<label class="col-sm-3 control-label">phone</label>																							<!-- numéro-->
							<div class="col-sm-9">
								<div class="col-md-7">
									<input type="text" class="form-control" id="phone"
										name="phone" ng-model="user.phone" placeholder="please input the phone"
										required>
								</div>
								<div class="col-md-5">
									<span style="color: red"
										ng-show="myForm.phone.$dirty && myForm.phone.$invalid">
										<span ng-show="myForm.phone.$error.required">phone can't be empty</span>
									</span> <span ng-hide="myForm.phone.$invalid" style="color: blue"><b>✔</b></span>  <!-- La numéro télephone ne peut pas être vide-->
								</div>
							</div>
						</div>
																		<div class="form-group">
							<label class="col-sm-3 control-label">address</label>																					<!-- adresse-->
							<div class="col-sm-9">
								<div class="col-md-7">
									<input type="text" class="form-control" id="address"
										name="address" ng-model="user.address" placeholder="please input the address"
										required>
								</div>
								<div class="col-md-5">
									<span style="color: red"
										ng-show="myForm.address.$dirty && myForm.address.$invalid">
										<span ng-show="myForm.address.$error.required">address can't be empty</span>
									</span> <span ng-hide="myForm.address.$invalid" style="color: blue"><b>✔</b></span> <!-- L'adresse ne peut pas être vide-->
								</div>
							</div>
						</div>
																		<div class="form-group">
							<label class="col-sm-3 control-label">sex</label>																						<!-- sexe-->
							<div class="col-sm-9">
								<div class="col-md-7">
									<select  id="sex"	 name="sex" ng-model="user.sex" required="required">
										<option value=0>male</option>
										<option value=1>female</option>
										<option value=2>others</option>
									</select>
								</div>
								<div class="col-md-5">
								</div>
							</div>
						</div>
					</div>
						<div class="form-group">
							<div style="text-align: center; color: red;" name="div">{{ansInfo}}</div>
							<div class="col-sm-offset-4 col-sm-10" ng-show="login">
								<button type="button" class="btn btn-primary"
									ng-disabled="myForm.email.$invalid || myForm.password.$invalid || log"
									ng-click="submits('login');">Login</button>																				<!-- button pour connexion-->
								&emsp; No compte?Please <a href="javascript:void(0)"
									ng-click="login_signup('signup')">signUp</a>																			<!-- trans à registrer-->
							</div>
							<div class="col-sm-offset-4 col-sm-10" ng-hide="login">
								<button type="button" class="btn btn-primary"
									ng-disabled="myForm.email.$invalid || myForm.password.$invalid || log"
									ng-click="submits('signup');">signUp</button>																			<!-- button pour registrer-->
								&emsp; I have a compte?Go to <a href="javascript:void(0)"
									ng-click="login_signup('login')">Log in</a>																				<!-- trans à connecter-->
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
