a, ul, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
	font-family: Microsoft YaHei, Tahoma, Helvetica, Arial,
		"\5b8b\4f53", sans-serif;
}
	color: #15428B;
	text-decoration: none;
}
a:hover {
	color: #0000ff;
	text-decoration: none;
}

th {
	text-align: center;
}


.thumbnail .items-details {
	height: 3em;
	overflow-y: auto;
}

tr.removed {
	color: darkgray;
	text-decoration: line-through;
}

.scroll_bar{
	height: 600px; 
	overflow: auto;
}